.wrapper {
  width: 75px;
  height: 75px;
  border: 3px solid grey;
  border-radius: 2px;
  display: inline-block;
  vertical-align: top;
  padding: 5px;
  text-align: center;

  &.male {
    border-color: dodgerblue;
  }

  &.female {
    border-color: deeppink;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
