.switch-language {
  display: flex;
  margin-left: 10px;
  margin-bottom: 10px;

  &__item {
    background: none;
    border: 0;
    color: blue;
    cursor: pointer;
    display: block;
    margin-left: 10px;
    outline: none;
    padding: 0;

    &--active {
      text-decoration: underline;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}
